body { background: #4ab0eb; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-uploader-0 { color: #6bc126; font-size: 17px; margin-bottom: 5px; }
.block-payment-1 { color: #cf02e5; font-size: 13px; margin-bottom: 5px; }
.block-user-2 { color: #16d616; font-size: 13px; margin-bottom: 5px; }
.block-product-3 { color: #245e5e; font-size: 13px; margin-bottom: 5px; }
.block-payment-4 { color: #cd670d; font-size: 13px; margin-bottom: 5px; }
.block-helper-5 { color: #dadfeb; font-size: 21px; margin-bottom: 5px; }
.block-sms-6 { color: #f21032; font-size: 13px; margin-bottom: 5px; }
.block-cart-7 { color: #9797d2; font-size: 12px; margin-bottom: 5px; }
.block-session-8 { color: #53c7c5; font-size: 16px; margin-bottom: 5px; }
.block-cart-9 { color: #b51bf7; font-size: 15px; margin-bottom: 5px; }
.block-auth-10 { color: #e87934; font-size: 19px; margin-bottom: 5px; }